<template>
  <v-row justify="center" class="mt-6">
    <v-col md="12">
      <v-card>
        <v-card-title class="teal lighten-1 white--text pa-2">
          {{ $t("caption4") }}
        </v-card-title>
        <v-card-actions>
          <v-text-field
            v-model="developer"
            :label="$t('developer')"
            outlined
          ></v-text-field
        ></v-card-actions>
        <v-card-text>
          <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-center">
                    ردیف
                  </th>
                  <th class="text-center">
                    {{ $t("projectName") }}
                  </th>
                  <th class="text-center">
                    {{ $t("developer") }}
                  </th>
                  <th class="text-center">
                    {{ $t("yearStart") }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in filter" :key="item.projectName">
                  <td>{{ index + 1 }}</td>
                  <td>{{ item.developer }}</td>
                  <td>{{ item.projectName }}</td>
                  <td>{{ item.yearStart }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
export default {
  name: "ListByQuery",
  props: {
    projects: {
      type: Array,
    },
  },
  data() {
    return {
      developer: null,
    };
  },
  computed: {
    filter() {
      return this.projects.filter((item) => item.developer === this.developer);
    },
  },
};
</script>
