<template>
  <v-row justify="center" class="mt-6">
    <v-col md="12">
      <v-card>
        <v-card-title class="pink accent-2 darken-1 white--text pa-2">
          <span>
            {{ $t("caption2") }}
          </span>
        </v-card-title>
        <v-card-actions>
          <v-btn color=" lighten-2" @click="filter('احسان')">
            {{ $t("filter") }}
          </v-btn>
        </v-card-actions>
        <v-card-text>
          <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-center ">
                    ردیف
                  </th>
                  <th class="text-center ">
                    {{ $t("projectName") }}
                  </th>
                  <th class="text-center ">
                    {{ $t("developer") }}
                  </th>
                  <th class="text-center ">
                    {{ $t("yearStart") }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in project" :key="item.projectName">
                  <td>{{ index + 1 }}</td>
                  <td>{{ item.projectName }}</td>
                  <td>{{ item.developer }}</td>
                  <td>{{ item.yearStart }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
export default {
  name: "ListByDeveloper",
  props: {
    projects: {
      type: Array,
    },
  },
  data() {
    return {
      project: [],
    };
  },
  methods: {
    filter(value) {
      this.project = this.projects.filter((item) => item.developer == value);
    },
  },
};
</script>
