<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <List :project="project" />
        <ListByDeveloper :projects="project" />
        <ListByDeveloperAndYearStart :projects="project" />
        <ListByQuery :projects="project" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import List from "./orgList/List";
import ListByDeveloper from "./ListByDeveloper/List";
import ListByDeveloperAndYearStart from "./ListByDeveloperAndYearStart/List";
import ListByQuery from "./ListByQuery/List";

export default {
  name: "Home",
  components: {
    List,
    ListByDeveloper,
    ListByDeveloperAndYearStart,
    ListByQuery,
  },

  data() {
    return {
      project: [
        {
          projectName: "اقتصادنیوز",
          developer: "احسان",
          yearStart: "1390",
        },
        {
          projectName: "شمانیوز",
          developer: "احسان",
          yearStart: "1394",
        },
        {
          projectName: "دنیای اقتصاد",
          developer: "سارا",
          yearStart: "1391",
        },
        {
          projectName: "رکنا",
          developer: "آرش",
          yearStart: "1392",
        },
        {
          projectName: "گسترش",
          developer: "احسان",
          yearStart: "1394",
        },
        {
          projectName: "شایانیوز",
          developer: "احسان",
          yearStart: "1397",
        },
        {
          projectName: "پنداراقتصادی",
          developer: "سارا",
          yearStart: "1396",
        },
        {
          projectName: "تین",
          developer: "آرش",
          yearStart: "1394",
        },
        {
          projectName: "اقتصادنگار",
          developer: "سارا",
          yearStart: "1392",
        },
        {
          projectName: "خبر روز",
          developer: "آرش",
          yearStart: "1396",
        },
        {
          projectName: "ایانا",
          developer: "سارا",
          yearStart: "1397",
        },
        {
          projectName: "اکوناپرس",
          developer: "احسان",
          yearStart: "1396",
        },
      ],
    };
  },
};
</script>
