<template>
  <v-app>
    <Home />
  </v-app>
</template>

<script>
import Home from "./components/Home";

export default {
  name: "App",

  components: {
    Home,
  },
};
</script>
<style>
@import "../node_modules/@aasaam/noto-font/dist/font-face.css";
.v-application,
.v-application .headline {
  font-family: "aasaam-Noto" !important;
}
</style>
